<h4 *ngIf="this.allquestions.length === 0">
  Personne n'a encore repondu au sondage !!!
</h4>

<div class="row" (click)="goToSurvey()">
  <div class="col s4">
    <p>{{ thequestion1 }}</p>
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartDataA"
      [labels]="doughnutChartLabelsQ1"
      [chartType]="doughnutChartType"
      [colors]="donutColors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <div class="col s4">
    <p>{{ thequestion2 }}</p>
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartDataB"
      [labels]="doughnutChartLabelsQ2"
      [chartType]="doughnutChartType"
      [colors]="donutColors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <div class="col s4">
    <p>{{ thequestion3 }}</p>
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartDataC"
      [labels]="doughnutChartLabelsQ3"
      [chartType]="doughnutChartType"
      [colors]="donutColors3"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
</div>
