<div class="row" (click)="goToNext($event)">
  <div class="col s4">
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartDataA"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="donutColors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <div class="col s4">
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartDataB"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="donutColors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <div class="col s4">
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartDataC"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="donutColors3"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
</div>
